*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h2{
    padding: 20px;
    text-align: center;
    font-size: 26px;
    color: #ff0000;
    background: rgb(0, 4, 255);
}
p{
    font-size: 26px;
    color: #000;    
}